<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/CSS/login.css" />
  <link rel="stylesheet" href="/IMG/fondo_verde_planta.jpg" />
  <title>Login / Registro</title>
</head>
<body>
  <div class="box">
    <div class="container">
      <div class="top-header">
        <h1><a href="">Eco Green</a></h1>
        <header id="form-title">Iniciar Sesión</header>
      </div>

      <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
      </div>
      
      <form id="login-form" method="post" action="/Ecogreen/validar_e">
        <div class="input-field">
          <input type="text" name="ruc" class="input" placeholder="RUC" required />
          <i class="bx bx-user"></i>
        </div>
        <div class="input-field">
          <input type="password" name="contrasena" class="input" placeholder="Contraseña" required />
          <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-field">
          <input type="submit" class="submit" value="Iniciar Sesión" />
        </div>
        <div class="bottom">
          <div class="left">
            <input type="checkbox" id="check" />
            <label for="check"> Recordarme</label>
          </div>
          <div class="right">
            <label><a href="#">¿Olvidaste la contra?</a></label>
          </div>
        </div>
      </form>

      <!-- Formulario Registro -->
      <form id="register-form" th:action="@{/Ecogreen/registro_e}" method="post" style="display: none;">
        <div class="input-field">
          <input type="text" class="input" name="nombre_empresa" placeholder="Nombre de Empresa" required />
          <i class="bx bx-user-circle"></i>
        </div>
        <div class="input-field">
          <input type="text" class="input" name="telefono" placeholder="Telefono" required />
          <i class="bx bx-user"></i>
        </div>
        <div class="input-field">
          <input type="text" class="input" name="ruc" placeholder="RUC" required />
          <i class="bx bx-user"></i>
        </div>
        <div class="input-field">
          <input type="password" class="input" name="contraseña" placeholder="Contraseña" required />
          <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-field">
          <input type="submit" class="submit" value="Crear Cuenta" />
        </div>
      </form>

      <div class="bottom" style="justify-content: center;">
        <label>
          <a href="#" id="toggle-link">¿No tienes cuenta? Crear una cuenta</a>
        </label>
      </div>
    </div>
  </div>

  <script src="/JS/login.js"></script>
</body>
</html>
